Innotrust (1)/Innotrust/src/main/java/com/giftingnetwork/api/XmlSchemaFormat.xml








<!-- login  Request -->


<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com">
<xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>




<!-- Login Response -->

 <?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="access_token" type="xs:string" />
              <xs:element minOccurs="0" name="expires_after" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>



<!-- Login Response Error -->


 <?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status">
          <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required" />
            <xs:attribute name="message" type="xs:string" use="required" />
            <xs:attribute name="ref_code" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


<!-- Logout Response -->


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status">
          <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required" />
            <xs:attribute name="message" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>







<!-- Reccommend api  Request -->




<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com">
<xs:simpleType name="SelectFieldNameEnum">
	<xs:restriction base="xs:string">
	   <xs:enumeration value="fund_name"/>
 <xs:enumeration value="status"/>
 <xs:enumeration value="amount"/>
 <xs:enumeration value="approval_date"/>
 <xs:enumeration value="city"/>
 <xs:enumeration value="state"/>
 <xs:enumeration value="zip"/>
 <xs:enumeration value="date"/>
 <xs:enumeration value="donor_name"/>
 <xs:enumeration value="organization_name"/>
 <xs:enumeration value="org_contactname"/>
      </xs:restriction>
</xs:simpleType>

<xs:simpleType name="WhereFieldNameEnum"> 
	<xs:restriction base="xs:string">




  <xs:enumeration value="fund_name"/>
  <xs:enumeration value="amount"/>
 <xs:enumeration value="approval_date"/>
 <xs:enumeration value="city"/>
 <xs:enumeration value="state"/>
 <xs:enumeration value="zip"/>
 <xs:enumeration value="date"/>
 <xs:enumeration value="donor_name"/>
 <xs:enumeration value="organization_name"/>
 <xs:enumeration value="org_contactname"/>
		 


      
 	</xs:restriction>
</xs:simpleType>

<xs:element name="command">
 	<xs:complexType>
		<xs:sequence>
        		<xs:element name="select" type="SelectClauseType" minOccurs="0" maxOccurs="1" />
				<xs:element name="where" type="WhereClauseType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="paging" type="PagingType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
 	</xs:complexType>
</xs:element>

	<xs:simpleType name="OperatorEnum"> 
		<xs:restriction base="xs:string">
			<xs:enumeration value="="/>
			<xs:enumeration value="!="/> 
			<xs:enumeration value="&lt;"/>
			 <xs:enumeration value="&lt;="/> 
			<xs:enumeration value="&gt;"/>
			 <xs:enumeration value="&gt;="/> 
			<xs:enumeration value="null"/>
			 <xs:enumeration value="notnull"/> 
			<xs:enumeration value="like"/> 
			<xs:enumeration value="notlike"/> 
			<xs:enumeration value="contain"/>
			 <xs:enumeration value="notcontain"/>
			 <xs:enumeration value="in"/>
			<xs:enumeration value="notin"/>
      		  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CompareOptionsEnum">
		 <xs:restriction base="xs:string">
			<xs:enumeration value="TreatNullAsEmpty"/>
			<xs:enumeration value="TreatEmptyAsNull"/> 
		</xs:restriction>
	</xs:simpleType>


<xs:complexType name="SelectClauseType"> 
	<xs:sequence>
		<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
		 	<xs:complexType>
                <xs:simpleContent>
                    <xs:extension base="xs:string">
						<xs:attribute type="SelectFieldNameEnum" name="name"/>
                      </xs:extension>
               	</xs:simpleContent>
        	</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

     <xs:complexType name="WhereClauseType"> 
		<xs:sequence>
			<xs:element name="field" maxOccurs="unbounded" minOccurs="0"> 
				<xs:complexType>
                			<xs:simpleContent>
                         			<xs:extension base="xs:string">
							<xs:attribute type="WhereFieldNameEnum" name="name" use="required"/>
							<xs:attribute type="OperatorEnum" name="operator" use="required"/>
							<xs:attribute type="CompareOptionsEnum" name="CompareOptions" use="optional"/>
                         			</xs:extension>
                			</xs:simpleContent>
       				 </xs:complexType>
			</xs:element>

			<xs:element name="Param" maxOccurs="unbounded" minOccurs="0"> 
				<xs:complexType>
                			<xs:simpleContent>
                        			 <xs:extension base="xs:string">
							<xs:attribute type="xs:string" name="Name" use="required"/>
						</xs:extension>
               				 </xs:simpleContent>
       				 </xs:complexType>
			</xs:element>
		</xs:sequence>
        </xs:complexType>

	<xs:complexType name="PagingType"> 
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:short" name="page_number" use="required"/> 
				<xs:attribute type="xs:short" name="page_size" use="required"/> 
				<xs:attribute type="xs:string" name="order_by" use="required"/>
                         </xs:extension>
                </xs:simpleContent>
        </xs:complexType>

</xs:schema>


<!-- Reccommend api  Response -->

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paging">
                <xs:complexType>
                  <xs:attribute name="page_number" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="page_size" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="total_rows" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="recordset">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="record">
                      <xs:complexType>
                        <xs:attribute name="city" type="xs:string" use="required" />
                        <xs:attribute name="fund_name" type="xs:string" use="required" />
                        <xs:attribute name="state" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>




